* text=auto !eol
/afiro.mps -text
/app0110.cor -text
/app0110.stoch -text
/app0110.time -text
/app0110R.cor -text
/app0110R.stoch -text
/app0110R.time -text
/atm_5_10_1.block -text
/atm_5_10_1.mps -text
/block_milp.dec -text
/block_milp.lp -text
/brandy.mps -text
/bug.cor -text
/bug.stoch -text
/bug.time -text
/coindatasample-uninstalled.pc.in -text
/coindatasample.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/conic.mps -text
/depcomp -text
/e226.mps -text
/exmip1.5.mps -text
/exmip1.lp -text
/exmip1.mps -text
/finnis.mps -text
/galenet.mps -text
/galenetbnds.mps -text
/hello.mps -text
/input.130 -text
/install-sh -text
/lseu.mps -text
/ltmain.sh -text
/missing -text
/nw460.mps -text
/p0033.mps -text
/p0201.mps -text
/p0548.mps -text
/pack1.mps -text
/retail3.block -text
/retail3.mps -text
/scOneInt.mps -text
/share2qp.mps -text
/spec_sections.mps -text
/tp3.mps -text
/tp4.mps -text
/tp5.mps -text
/wedding_16.block -text
/wedding_16.mps -text
